.search-slider {
	position: absolute;
	z-index: $z-search-slider;
	top: ($top-bar-height + $main-header-height);
	right: 0;
	left: 0;
	padding: 10px 0;
	opacity: 0;
	background-color: $color-cool-gray;
	@extend .depth-4;
	// transformations reset zindex in safari :(
	transform: translate3d(0, -100%, $z-search-slider * 1px);
    transition: 
		opacity 400ms ease,
		transform 400ms cubic-bezier(0.2, 1, 0.2, 1);

	&--active {
		opacity: 1;
		transform: translate3d(0, 0, $z-search-slider * 1px);
	}	

	.imm-container {
		position: relative;
	}
		&__label {
			display: flex;
			align-items: center;
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			left: 15px;
			width: 50px;
			cursor: pointer;
			opacity: 0.5;

			&:hover {
				.icon__fill { fill: $color-primary; }
			}
		}
			.icon {
				display: block;
				width: 18px;
				height: 18px;
				margin: auto;

				&__fill { transition: fill 250ms ease; }
			}
		&__input {
			display: block;
			position: relative;
			width: 100%;
			height: 45px;
			padding: 0 50px;
			border: none;
			outline: 0;
			color: $color-dove;
			font-size: 20px;
			background-color: #fff;

			// https://css-tricks.com/almanac/selectors/p/placeholder/
			&::-webkit-input-placeholder { color: $color-silver; } // Chrome/Opera/Safari
			&::-moz-placeholder { color: $color-silver; } // Firefox 19+
			&:-ms-input-placeholder { color: $color-silver; } // IE 10+
			&:-moz-placeholder { color: $color-silver; } // Firefox 18-
		}
		&__clear {
			display: none;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 1;
			top: 0;
			right: 15px;
			bottom: 0;
			width: 50px;
			font-size: 14px;
			color: $color-danger;
			cursor: pointer;
			transition: color 250ms ease;

			&:before {
				content: '';
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 50%;
				width: 21px;
				height: 21px;
				border-radius: 50%;
				background-color: #e5e5e5;
				transform: translate(-50%, -50%);
				transition: background-color 250ms ease;
			}

			&:hover {
				color: $color-white;
				&:before {
					background-color: $color-danger;
				}
			}

			&--active {
				display: flex;
			}
		}
}