<section
	id="banner"
	class="banner"
	data-mobile-poster="/public/banner/mobile-poster.jpg"
	data-desktop-poster="/public/banner/desktop-poster.jpg"
	data-mobile-loops="/video/mobile-loop"
	data-desktop-loops="video/desktop-loop-2"
>
	<div class="banner__container">
		<main class="banner__callout">
			<h1 class="banner__heading">
				Discover a <strong>Bold New Vision</strong> 
				for Rx Care Delivery
			</h1>
			<p class="banner__content">
				Omnicell is evolving it’s portfolio of technology solutions through 
				a series of autonomous workflows designed to address clinical, 
				operational, compliance and population health care challenges.
			</p>
			<a href="#" class="button button--primary button--rounded">
				Join us at ASHP Midyear
			</a>
		</main>
	</div>
	<div data-mount class="banner__context" tabindex="-1">
		{{> spinner}}
	</div>
</section>