<section id="banner" class="banner">
	<div class="container banner__container">
		<main class="banner__callout">
			<h1 class="banner__heading">
				Discover a <strong>Bold New Vision</strong> 
				for Rx Care Delivery
			</h1>
			<p class="banner__content">
				Omnicell is evolving it’s portfolio of technology solutions through 
				a series of autonomous workflows designed to address clinical, 
				operational, compliance and population health care challenges.
			</p>
			<a href="#" class="button button--primary button--rounded">
				Join us at ASHP Midyear
			</a>
		</main>
		<img class="banner__poster banner__poster--desktop" src="/public/banner/desktop-poster.png" alt="dose node">
	</div>
	<img class="banner__poster banner__poster--mobile" src="/public/banner/mobile-poster.png" alt="dose node">
</section>