{{!-- // TODO: rename to main-header --}}
<header class="main-header">
	<div class="container">
		<a class="main-logo" href="#">
			{{> icons/logo}}
		</a>
		
		{{> mega-nav}}

		{{!-- // TODO: move --}}
		<nav class="utility-nav">
			<button id="contactButton" class="contact-button">
				Contact Us
			</button>
			<button id="searchButton" class="search-button">
				{{> icons/search}}
			</abutton>
			<button id="navButton" class="hamburger">
				-
				-
				-
			</button>
		</nav>
	</div>
</header>