<div class="background background--alternate">
	<div class="container">
		<h3 class="h2">
			How can we help you?
		</23>
	</div>
	<div class="container container--spaced container--flex">
		<article class="support-module">
			<h1 class="h5">
				Customer Support
			</h1>
			<p>
				Our experienced and respected service organization is equipped to 
				respond to your needs around the clock and resolve issues with 
				speed and professionalism.
			</p>
			<a href="#" class="button button--primary button--bordered button--rounded button--wide">
				Learn More
			</a>
		</article>
		<article class="support-module">
			<h1 class="h5">
				Sales
			</h1>
			<p>
				Talk to someone from our knowlesgeable sales team to discover
				more about Omnicell solutions.
			</p>
			<a href="#" class="button button--primary button--bordered button--rounded button--wide">
				Learn More
			</a>
		</article>
		<article class="support-module">
			<h1 class="h5">
				Training
			</h1>
			<p>
				Omnicell offers a variety of practical, interactive, training 
				opportunities to help you derive the maximum benefits from 
				your Omnicell systems.
			</p>
			<a href="#" class="button button--primary button--bordered button--rounded button--wide">
				Learn More
			</a>
		</article>
	</div>
</div>