<div class="background background--alternate">
	<div class="container">
		<h2>
			How can we help you?
		</h2>
		<a class="card card--constrained">
			<h1 class="h5">
				Customer Support
			</h1>
			<p>
				Our experienced and respected service organization is equipped to 
				respond to your needs around the clock and resolve issues with 
				speed and professionalism.
			</p>
			<button class="button">
				Learn More
			</button>
		</a>
		<a class="card card--constrained">
			<h1 class="h5">
				Sales
			</h1>
			<p>
				Talk to someone from our knowlesgeable sales team to discover
				more about Omnicell solutions.
			</p>
			<button class="button">
				Learn More
			</button>
		</a>
		<a class="card card--constrained">
			<h1 class="h5">
				Training
			</h1>
			<p>
				Omnicell offers a variety of practical, interactive, training 
				opportunities to help you derive the maximum benefits from 
				your Omnicell systems.
			</p>
			<button class="button">
				Learn More
			</button>
		</a>
	</div>
</div>