<nav id="megaNav" class="mega-nav">
	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				About Us
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<span class="mega-nav__label">
						About Us
					</span>
					<a href="#" data-rel="about-omnicell">
						About Omnicell
					</a>
					<a href="#" data-rel="none">
						Careers
					</a>
					<a href="#" data-rel="partners">
						Partners
					</a>
					<a href="#" data-rel="none">
						Leadership
					</a>
					<a href="#" data-rel="none">
						Investor Relations
					</a>
					<a href="#" data-rel="none">
						Contact Us
					</a>
				</div>
				<div class="mega-nav__features">
					<div class="mega-nav__feature" data-id="default">
						<h2>
							About Us
						</h2>
						<p>
							Learn about Omnicell’s diverse healthcare portfolio, our vision, and what we stand for as a company.
						</p>
						<a href="#" class="button">
							{{!-- // TODO: fa --}}
							Learn More <i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
					</div>
					<div class="mega-nav__feature" data-id="about-omnicell">
						<span class="mega-nav__label">
							About Omnicell
						</span>
						<a href="#">
							Vision & Values
						</a>
						<a href="#">
							Social Responsibility
						</a>
						<a href="#">
							Environmental Sustainability
						</a>
					</div>
					<div class="mega-nav__feature" data-id="partners">
						<span class="mega-nav__label">
							Partners
						</span>
						<a href="#">
							Reseller
						</a>
						<a href="#">
							Purchasing Groups
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				Products
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<span class="mega-nav__label">
						Practice Setting
					</span>
					<a href="#" data-id="hospital-health-system">
						Hospital / Health System
					</a>
					<a href="#" data-id="x50">
						Retail / Community Pharmacy
					</a>
					<a href="#" data-id="x49">
						Closed Door Pharmacy
					</a>
				</div>
				<div class="mega-nav__features">
					<div class="mega-nav__feature" data-id="default">
						<h2>
							Products
						</h2>
						<p>
							Select the appropriate practice setting on the left to see Omnicell solutions that help you transform healthcare delivery.
						</p>
						<a href="#" class="button">
							{{!-- // TODO: fa --}}
							Learn More <i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
					</div>
					<div class="mega-nav__feature" data-id="hospital-health-system">
						<span class="mega-nav__label">
							Solution
						</span>
						<a href="#">
							Central Pharmacy Automation
						</a>
						<a href="#">
							IV Compounding
						</a>
						<a href="#">
							Medication Dispensing Cabinets
						</a>
						<a href="#">
							Supply Management Systems
						</a>
						<a href="#">
							Medication Adherence
						</a>
						<a href="#">
							Enterprise Platform & Interoperability
						</a>
						<a href="#">
							Analytics & Performance Center
						</a>
					</div>
					<div class="mega-nav__feature" data-id="x50">
						<span class="mega-nav__label">
							Solution
						</span>
						<a href="#">
							For Patients
						</a>
						<a href="#">
							Medication Adherence
						</a>
					</div>
					<div class="mega-nav__feature" data-id="x49">
						<span class="mega-nav__label">
							Solution
						</span>
						<a href="#">
							Medication Adherence
						</a>
						<a href="#">
							Non-Acute Medication Dispensing
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x204">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Automated Storage and Retrieval
						</a>
						<a href="#">
							Inventory Management Software
						</a>
						<a href="#">
							Controlled Substance Management
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x201">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							IV Compounding Robots
						</a>
						<a href="#">
							IV Workflow Management
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x198">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Anesthesia Cabinets
						</a>
						<a href="#">
							Automated Dispensing Cabinets
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x195">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Omnicell Supply Management System
						</a>
						<a href="#">
							OptiFlex Supply Chain Procedure Systems
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x189">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Patient Engagement
						</a>
						<a href="#">
							Patient Communications
						</a>
						<a href="#">
							Medication Blister Cards
						</a>
						<a href="#">
							Multimed Blister Card Automation
						</a>
						<a href="#">
							Single Dose Blister Card Automation 
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x186">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Platform and Server Technology
						</a>
						<a href="#">
							Interoperability
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x52">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Analytics Software
						</a>
						<a href="#">
							Performance Center
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x520">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Find A Pharmacy
						</a>
						<a href="#">
							Real Life Stories
						</a>
						<a href="#">
							Share Your Story
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x208">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Patient Engagement
						</a>
						<a href="#">
							Patient Communications
						</a>
						<a href="#">
							Medication Blister Cards
						</a>
						<a href="#">
							Multimed Blister Card Automation
						</a>
						<a href="#">
							Single Dose Blister Card Automation 
						</a>
						<a href="#">
							Sealers and Pre-pack Equipment
						</a>
						<a href="#">
							Printing and Labeling
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x216">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Medication Blister Cards
						</a>
						<a href="#">
							Multimed Blister Card Automation
						</a>
						<a href="#">
							Single Dose Blister Card Automation 
						</a>
						<a href="#">
							Sealers and Pre-pack Equipment
						</a>
						<a href="#">
							Printing and Labeling
						</a>
					</div>
					<div class="mega-nav__feature" data-subid="x522">
						<span class="mega-nav__label">
							Product Line
						</span>
						<a href="#">
							Automated Dispensing Cabinets
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				Success Center
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<span class="mega-nav__label">
						Success Center
					</span>
					<a href="#">
						Testimonials
					</a>
					<a href="#">
						IV Compounding Resources
					</a>
					<a href="#">
						Medication Adherence Resources
					</a>
					<a href="#">
						Diversion Central
					</a>
					<a href="#">
						Webinars and Podcasts
					</a>
					<a href="#">
						Transform Healthcare Blog
					</a>
				</div>
				<div class="mega-nav__features">
					<div class="mega-nav__feature">
						<h2>
							Success Center
						</h2>
						<p>
							Discover how other healthcare facilities have benefited from our technology, and access resources to help you address critical challenges.
						</p>
						<a href="#" class="button">
							{{!-- // TODO: fa --}}
							Learn More
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				News and Events
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<span class="mega-nav__label">
						News and Events
					</span>
					<a href="#">
						Press Releases
					</a>
					<a href="#">
						Events
					</a>
					<a href="#">
						In the News
					</a>
					<a href="#">
						Social Media
					</a>
				</div>
				<div class="mega-nav__features">
					<div class="mega-nav__feature">
						<h2>
							News and Events
						</h2>
						<p>
							Stay current with Omnicell by following our media coverage, and find out where and when you can see us at upcoming conferences.
						</p>
						<a href="#" class="button">
							{{!-- // TODO: fa --}}
							Learn More
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				Support
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<span class="mega-nav__label">
						Support
					</span>
					<a href="#">
						Customer Support
					</a>
					<a href="#">
						Training Programs
					</a>
				</div>
				<div class="mega-nav__features">
					<div class="mega-nav__feature">
						<h2>
							Support
						</h2>
						<p>
							We offer first-rate customer support and comprehensive training to help you gain the most value from our technology.
						</p>
						<a href="#" class="button">
							{{!-- // TODO: fa --}}
							Learn More
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>