<div class="imm-container imm-container--spaced">
	<h2>
		What's happening at Omnicell?
	</h2>
	<div class="imm-container imm-container--full imm-container--tiled">
		<article class="card card--small">
			<img class="card__image" data-lazy-load="/public/cards/card-5.png" alt="image description here">
			<div class="card__content">
				<a href="#" class="card__link">
					Press Releases
				</a>
			</div>
		</article>
		<article class="card card--small">
			<img class="card__image" data-lazy-load="/public/cards/card-6.png" alt="image description here">
			<div class="card__content">
				<a href="#" class="card__link">
					Events
				</a>
			</div>
		</article>
		<article class="card card--small">
			<img class="card__image" data-lazy-load="/public/cards/card-7.png" alt="image description here">
			<div class="card__content">
				<a href="#" class="card__link">
					In the News
				</a>
			</div>
		</article>
		<article class="card card--small">
			<img class="card__image" data-lazy-load="/public/cards/card-8.jpg" alt="image description here">
			<div class="card__content">
				<a href="#" class="card__link">
					Social Media
				</a>
			</div>
		</article>
	</div>
</div>
