<div class="container">
	<h2>
		What's happening at Omnicell?
	</h2>
	<a href="#" class="card">
		<img src="https://placehold.it/265x190" alt="image description here">
		<h1 class="h5">
			Press Releases
		</h1>
	</a>
	<a href="#" class="card">
		<img src="https://placehold.it/265x190" alt="image description here">
		<h1 class="h5">
			Events
		</h1>
	</a>
	<a href="#" class="card">
		<img src="https://placehold.it/265x190" alt="image description here">
		<h1 class="h5">
			In the News
		</h1>
	</a>
	<a href="#" class="card">
		<img src="https://placehold.it/265x190" alt="image description here">
		<h1 class="h5">
			Social Media
		</h1>
	</a>
</div>
