<div data-scroll-tabs class="scroll-tabs" role="tablist">
	<div data-mount class="scroll-tabs__mount">
		{{> spinner}}
	</div>
	<div data-panels class="scroll-tabs__panels">
		<div class="scroll-tabs__panel" role="tabpanel" data-image="/public/hospital.jpg">
			<h3 class="scroll-tabs__title" aria-hidden="true">
				Hospital + Health System
			</h3>
			<div class="container">
				<div class="scroll-tabs__content">
					<p>
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur. 
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur.
					</p>
					<p>
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur. 
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur.
					</p>
				</div>
				<nav class="scroll-tabs__nav">
					<a href="#">
						Central Pharmacy Automation
					</a>
					<a href="#">
						IV Compounding
					</a>
					<a href="#">
						Medication Dispensing Cabinets
					</a>
					<a href="#">
						Supply Management Systems
					</a>
					<a href="#">
						Medication Adherence
					</a>
					<a href="#">
						Enterprise Platform & Interoperability
					</a>
					<a href="#">
						Analytics & Performance Center
					</a>
				</nav>
			</div>
		</div>
		<div class="scroll-tabs__panel" role="tabpanel" data-image="/public/hospital.jpg">
			<h3 class="scroll-tabs__title" aria-hidden="true">
				Retail + Community Pharmacy
			</h3>
			<div class="container">
				<div class="scroll-tabs__content">
					<p>
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur. 
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur.
					</p>
					<p>
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur. 
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur.
					</p>
				</div>
				<nav class="scroll-tabs__nav">
					<a href="#">
						Central Pharmacy Automation
					</a>
					<a href="#">
						IV Compounding
					</a>
					<a href="#">
						Medication Dispensing Cabinets
					</a>
					<a href="#">
						Supply Management Systems
					</a>
					<a href="#">
						Medication Adherence
					</a>
					<a href="#">
						Enterprise Platform & Interoperability
					</a>
					<a href="#">
						Analytics & Performance Center
					</a>
				</nav>
			</div>
		</div>
		<div class="scroll-tabs__panel" role="tabpanel" data-image="/public/hospital.jpg">
			<h3 class="scroll-tabs__title" aria-hidden="true">
				Closed Door Pharmacy
			</h3>
			<div class="container">
				<div class="scroll-tabs__content">
					<p>
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur. 
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur.
					</p>
					<p>
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur. 
						Lorem Ipsum Dolor Sit Amet Consecutur. Lorem Ipsum Dolor Sit Amet Consecutur.
					</p>
				</div>
				<nav class="scroll-tabs__nav">
					<a href="#">
						Central Pharmacy Automation
					</a>
					<a href="#">
						IV Compounding
					</a>
					<a href="#">
						Medication Dispensing Cabinets
					</a>
					<a href="#">
						Supply Management Systems
					</a>
					<a href="#">
						Medication Adherence
					</a>
					<a href="#">
						Enterprise Platform & Interoperability
					</a>
					<a href="#">
						Analytics & Performance Center
					</a>
				</nav>
			</div>
		</div>
	</div>
</div>