<div data-scroll-tabs class="scroll-tabs" role="tablist">
	<div data-mount class="scroll-tabs__mount">
		{{> spinner}}
	</div>
	<div data-panels class="scroll-tabs__panels">
		<div class="scroll-tabs__panel" role="tabpanel" data-image="/public/carousel/hospital-health-system.jpg">
			<h3 class="scroll-tabs__title" aria-hidden="true">
				Hospital + Health System
			</h3>
			<div class="imm-container">
				<div class="scroll-tabs__content">
					<p>
						Pellentesque malesuada, dui ut malesuada vulputate, mauris nibh dictum justo, 
						vitae suscipit lectus metus at neque. Pellentesque hendrerit vulputate est, et 
						rhoncus sapien.
					</p>
					<p>
						Etiam molestie ipsum vitae arcu lobortis, quis convallis leo fermentum. In hac 
						tasse platea dictumst. Aliquam eget neque tempus, pellentesque nisi finibus, 
						rutrum enim.
					</p>
				</div>
				<nav class="scroll-tabs__nav">
					<a href="#">
						Central Pharmacy Automation
					</a>
					<a href="#">
						IV Compounding
					</a>
					<a href="#">
						Medication Dispensing Cabinets
					</a>
					<a href="#">
						Supply Management Systems
					</a>
					<a href="#">
						Medication Adherence
					</a>
					<a href="#">
						Enterprise Platform & Interoperability
					</a>
					<a href="#">
						Analytics & Performance Center
					</a>
				</nav>
			</div>
		</div>
		<div class="scroll-tabs__panel" role="tabpanel" data-image="/public/carousel/hospital-health-system.jpg">
			<h3 class="scroll-tabs__title" aria-hidden="true">
				Retail + Community Pharmacy
			</h3>
			<div class="imm-container">
				<div class="scroll-tabs__content">
					<p>
						Praesent tellus enim, gravida vel sagittis sit amet, bibendum ac enim. Fusce 
						finibus diam orci, ornare facilisis orci auctor ut. Nullam imperdiet lectus 
						nec nibh fringilla, et euismod est aliquet.
					</p>
					<p>
						Maecenas accumsan ante et quam blandit molestie. In venenatis dignissim 
						venenatis. Maecenas non neque in urna venenatis dictum.
					</p>
				</div>
				<nav class="scroll-tabs__nav">
					<a href="#">
						Central Pharmacy Automation
					</a>
					<a href="#">
						IV Compounding
					</a>
					<a href="#">
						Medication Dispensing Cabinets
					</a>
					<a href="#">
						Supply Management Systems
					</a>
					<a href="#">
						Medication Adherence
					</a>
					<a href="#">
						Enterprise Platform & Interoperability
					</a>
					<a href="#">
						Analytics & Performance Center
					</a>
				</nav>
			</div>
		</div>
		<div class="scroll-tabs__panel" role="tabpanel" data-image="/public/carousel/hospital-health-system.jpg">
			<h3 class="scroll-tabs__title" aria-hidden="true">
				Closed Door Pharmacy
			</h3>
			<div class="imm-container">
				<div class="scroll-tabs__content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at magna commodo, 
						tempus velit eu, bibendum nibh. Fusce dignissim neque ut eleifend feugiat.
					</p>
					<p>
						Aliquam iaculis tempus risus, in bibendum sapien. Nullam efficitur faucibus 
						lorem nec sollicitudin. Suspendisse mollis convallis ligula at laoreet. Phasellus 
						congue urna ac tristique feugiat.
					</p>
				</div>
				<nav class="scroll-tabs__nav">
					<a href="#">
						Central Pharmacy Automation
					</a>
					<a href="#">
						IV Compounding
					</a>
					<a href="#">
						Medication Dispensing Cabinets
					</a>
					<a href="#">
						Supply Management Systems
					</a>
					<a href="#">
						Medication Adherence
					</a>
					<a href="#">
						Enterprise Platform & Interoperability
					</a>
					<a href="#">
						Analytics & Performance Center
					</a>
				</nav>
			</div>
		</div>
	</div>
</div>