<div class="container">
	<a href="#" class="card card--ruled card--tall">
		<img src="https://placehold.it/265x190" alt="image description here">
		<span class="card__category">
			Products
		</span>
		<h1 class="h5">
			Meet the Connected Cabinet
		</h1>
	</a>
	<a href="#" class="card card--ruled card--tall">
		<img src="https://placehold.it/265x190" alt="image description here">
		<span class="card__category">
			Products
		</span>
		<h1 class="h5">
			Experience cloud-driven compounding—with IVX Workflow
		</h1>
	</a>
	<a href="#" class="card card--ruled card--tall">
		<img src="https://placehold.it/265x190" alt="image description here">
		<span class="card__category">
			Success Center
		</span>
		<h1 class="h5">
			Watch our lastest webinar: ASHP Diversion Prevention Guidelines Simplified
		</h1>
	</a>
	<a href="#" class="card card--ruled card--tall">
		<img src="https://placehold.it/265x190" alt="image description here">
		<span class="card__category">
			Products
		</span>
		<h1 class="h5">
			Engage your patient effortlessly with our enhanced solutions
		</h1>
	</a>
</div> 