<div class="imm-container imm-container--tiled imm-container--spaced">
	<article class="card card--ruled">
		<img class="card__image" data-lazy-load="/public/cards/card-1.png" alt="image description here">
		<div class="card__content">
			<span class="card__category">
				Products
			</span>
			<a href="#" class="card__link">
				Meet the Connected Cabinet
			</a>
		</div>
	</article>
	<article class="card card--ruled">
		<img class="card__image" data-lazy-load="/public/cards/card-2.png" alt="image description here">
		<div class="card__content">
			<span class="card__category">
				Products
			</span>
			<a href="#" class="card__link">
				Experience cloud-driven compounding—with IVX Workflow
			</a>
		</div>
	</article>
	<article class="card card--ruled">
		<img class="card__image" data-lazy-load="/public/cards/card-3.jpg" alt="image description here">
		<div class="card__content">
			<span class="card__category">
				Success Center
			</span>
			<a href="#" class="card__link">
				Watch our lastest webinar: ASHP Diversion Prevention Guidelines Simplified
			</a>
		</div>
	</article>
	<article class="card card--ruled">
		<img class="card__image" data-lazy-load="/public/cards/card-4.jpg" alt="image description here">
		<div class="card__content">
			<span class="card__category">
				Products
			</span>
			<a href="#" class="card__link">
				Engage your patient effortlessly with our enhanced solutions
			</a>
		</div>
	</article>
</div> 