<nav class="top-nav">
	<div class="container">
		<div class="top-nav__item">
			<button class="top-nav__link">
				{{> icons/globe}}
				United States
			</button>
		</div>
		<div class="top-nav__item">
			<a class="top-nav__link" href="#">
				For Patients
			</a>
			<div class="top-nav__sub-nav">
				<a href="#" class="top-nav__sub-nav__link">
					Find A Pharmacy
				</a>
				<a href="#" class="top-nav__sub-nav__link">
					Real Life Stories
				</a>
				<a href="#" class="top-nav__sub-nav__link">
					Share Your Story
				</a>
			</div>
		</div>
		<div class="top-nav__item">
			<a class="top-nav__link" href="#" target="_blank">
				myOmnicell Login
			</a>
		</div>
	</div>
</nav>