<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			Omnicell | Healthcare Management Solutions
		</title>
		<meta name="description" content="Omnicell is a leading provider of medication and supply management solutions dedicated to improving patient care and outcomes. We deliver value to hospitals, health systems, post-acute care settings, and patients in the home with our automated dispensing systems and medical inventory solutions." />

		<link rel="apple-touch-icon" sizes="76x76" href="/public/favicon.ico">
		<link rel="icon" type="image/png" href="/public/favicon.ico">

		{{#if integrate}}
			{{> integration}}
		{{/if}}

		{{> font-prefetch}}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<link rel="stylesheet" href="/public/site.css">
	</head>
	<body>
		{{> browser-notice}}
		<div class="wrapper">
			{{{ body }}}
		</div>
		<script defer async src="/public/site.js"></script>
		{{> analytics}}
	</body>
</html>