<nav class="contact-nav">
	<h2 class="contact-nav__heading">
		Contact Us
	</h2>
	<button id="emailSalesButton" class="contact-nav__link" role="button">
		<span>
			{{> icons/envelope}}
			Email Sales
		</span>
	</button>	
	<a class="contact-nav__link" href="#">
		<span>
			{{> icons/support}}
			Customer Support
		</span>
	</a>
	<a class="contact-nav__link" href="#">
		<span>
			{{> icons/map-marker}}
			Office Location
		</span>
	</a>
	{{> close}}
</nav>