<nav class="country-nav">
	<div class="country-nav__col">
		<h3 class="country-nav__label">
			North America
		</h3>
		<a href="#" class="country-nav__link">
			{{> icons/flags/us}}
			<span>
				USA
			</span>
		</a>
	</div>
	<div class="country-nav__col">
		<h3 class="country-nav__label">
			Europe
		</h3>
		<a href="#" class="country-nav__link">
			{{> icons/flags/de}}
			<span>
				Deutschland
			</span>
		</a>
		<a href="#" class="country-nav__link">
			{{> icons/flags/fr}}
			<span>
				France - Français
			</span>
		</a>
		<a href="#" class="country-nav__link">
			{{> icons/flags/gb}}
			<span>
				United Kingdom
			</span>
		</a>
	</div>
	<div class="country-nav__col">
		<h3 class="country-nav__label">
			Asia
		</h3>
		<a href="#" class="country-nav__link">
			{{> icons/flags/au}}
			<span>
				Australia
			</span>
		</a>
		<a href="#" class="country-nav__link">
			{{> icons/flags/cn}}
			<span>
				中国
			</span>
		</a>
	</div>
	{{> close}}
</nav>