<nav class="footer-nav">
	<a href="#">
		Privacy Policy
	</a>
	<a href="#">
		Legal Notices
	</a>
	<a href="#">
		HIPAA Statement
	</a>
	<a href="#">
		Terms
	</a>
	<a href="#">
		Sitemap
	</a>
	<a href="#">
		Contact Us
	</a>
	<a href="#">
		Careers
	</a>
</nav>