<nav id="megaNav" class="mega-nav">
	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				About Us
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<div class="mega-nav__feature" data-id="default">
						<h2>
							About Us
						</h2>
						<p>
							Learn about Omnicell’s diverse healthcare portfolio, our vision, and what we stand for as a company.
						</p>
						<a href="#" class="button button--primary button--rounded button--icon">
							<span>
								Learn More {{> icons/chevron}}
							</span>
						</a>
					</div>
					<span class="mega-nav__label">
						About Us
					</span>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#" data-rel="about-omnicell">
							About Omnicell
						</a>
						<div class="mega-nav__list">
							<span class="mega-nav__label">
								About Omnicell
							</span>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Vision & Values
								</a>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Social Responsibility
								</a>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Environmental Sustainability
								</a>
							</div>
						</div>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#" data-rel="none">
							Careers
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#" data-rel="partners">
							Partners
						</a>
						<div class="mega-nav__list" data-id="partners">
							<span class="mega-nav__label">
								Partners
							</span>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Reseller
								</a>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Purchasing Groups
								</a>
							</div>
						</div>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#" data-rel="none">
							Leadership
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#" data-rel="none">
							Investor Relations
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#" data-rel="none">
							Contact Us
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				Products
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<div class="mega-nav__feature" data-id="default">
						<h2>
							Products
						</h2>
						<p>
							Select the appropriate practice setting on the left to see Omnicell solutions that help you transform healthcare delivery.
						</p>
						<a href="#" class="button button--primary button--rounded button--icon">
							<span>
								Learn More {{> icons/chevron}}
							</span>
						</a>
					</div>
					<span class="mega-nav__label">
						Practice Setting
					</span>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#" data-id="hospital-health-system">
							Hospital / Health System
						</a>
						<div class="mega-nav__list" data-id="hospital-health-system">
							<span class="mega-nav__label">
								Solution
							</span>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Central Pharmacy Automation
								</a>
								<div class="mega-nav__list" data-subid="x204">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Automated Storage and Retrieval
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Inventory Management Software
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Controlled Substance Management
										</a>
									</div>
								</div>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									IV Compounding
								</a>
								<div class="mega-nav__list" data-subid="x201">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											IV Compounding Robots
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											IV Workflow Management
										</a>
									</div>
								</div>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Medication Dispensing Cabinets
								</a>
								<div class="mega-nav__list" data-subid="x198">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Anesthesia Cabinets
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Automated Dispensing Cabinets
										</a>
									</div>
								</div>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Supply Management Systems
								</a>
								<div class="mega-nav__list" data-subid="x195">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Omnicell Supply Management System
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											OptiFlex Supply Chain Procedure Systems
										</a>
									</div>
								</div>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Medication Adherence
								</a>
								<div class="mega-nav__list" data-subid="x189">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Patient Engagement
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Patient Communications
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Medication Blister Cards
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Multimed Blister Card Automation
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Single Dose Blister Card Automation 
										</a>
									</div>
								</div>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Enterprise Platform & Interoperability
								</a>
								<div class="mega-nav__list" data-subid="x186">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Platform and Server Technology
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Interoperability
										</a>
									</div>
								</div>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Analytics & Performance Center
								</a>
								<div class="mega-nav__list" data-subid="x52">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Analytics Software
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Performance Center
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#" data-id="x50">
							Retail / Community Pharmacy
						</a>
						<div class="mega-nav__list" data-id="x50">
							<span class="mega-nav__label">
								Solution
							</span>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									For Patients
								</a>
								<div class="mega-nav__list" data-subid="x520">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Find A Pharmacy
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Real Life Stories
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Share Your Story
										</a>
									</div>
								</div>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Medication Adherence
								</a>
								<div class="mega-nav__list" data-subid="x208">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Patient Engagement
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Patient Communications
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Medication Blister Cards
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Multimed Blister Card Automation
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Single Dose Blister Card Automation 
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Sealers and Pre-pack Equipment
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Printing and Labeling
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#" data-id="x49">
							Closed Door Pharmacy
						</a>
						<div class="mega-nav__list" data-id="x49">
							<span class="mega-nav__label">
								Solution
							</span>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Medication Adherence
								</a>
								<div class="mega-nav__list" data-subid="x216">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Medication Blister Cards
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Multimed Blister Card Automation
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Single Dose Blister Card Automation 
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Sealers and Pre-pack Equipment
										</a>
									</div>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Printing and Labeling
										</a>
									</div>
								</div>
							</div>
							<div class="mega-nav__item">
								<a class="mega-nav__link" href="#">
									Non-Acute Medication Dispensing
								</a>
								<div class="mega-nav__list" data-subid="x522">
									<span class="mega-nav__label">
										Product Line
									</span>
									<div class="mega-nav__item">
										<a class="mega-nav__link" href="#">
											Automated Dispensing Cabinets
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				Success Center
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<div class="mega-nav__feature">
						<h2>
							Success Center
						</h2>
						<p>
							Discover how other healthcare facilities have benefited from our technology, and access resources to help you address critical challenges.
						</p>
						<a href="#" class="button button--primary button--rounded button--icon">
							<span>
								Learn More {{> icons/chevron}}
							</span>
						</a>
					</div>
					<span class="mega-nav__label">
						Success Center
					</span>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Testimonials
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							IV Compounding Resources
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Medication Adherence Resources
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Diversion Central
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Webinars and Podcasts
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Transform Healthcare Blog
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				News and Events
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<div class="mega-nav__feature">
						<h2>
							News and Events
						</h2>
						<p>
							Stay current with Omnicell by following our media coverage, and find out where and when you can see us at upcoming conferences.
						</p>
						<a href="#" class="button button--primary button--rounded button--icon">
							<span>
								Learn More {{> icons/chevron}}
							</span>
						</a>
					</div>
					<span class="mega-nav__label">
						News and Events
					</span>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Press Releases
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Events
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							In the News
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Social Media
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mega-nav__section">
		<a class="mega-nav__link" href="#">
			<span>
				Support
			</span>
		</a>
		<div class="mega-nav__sub-menu">
			<div class="mega-nav__container">
				<div class="mega-nav__list">
					<div class="mega-nav__feature">
						<h2>
							Support
						</h2>
						<p>
							We offer first-rate customer support and comprehensive training to help you gain the most value from our technology.
						</p>
						<a href="#" class="button button--primary button--rounded button--icon">
							<span>
								Learn More {{> icons/chevron}}
							</span>
						</a>
					</div>
					<span class="mega-nav__label">
						Support
					</span>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Customer Support
						</a>
					</div>
					<div class="mega-nav__item">
						<a class="mega-nav__link" href="#">
							Training Programs
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>