<nav id="offscreenNav" class="offscreen-nav" aria-hidden="true" tabindex="-1">
	<div class="container">
		<div class="offscreen-nav__menu">
			<a class="offscreen-nav__label" href="#">
				About Us
			</a>
			<a href="#">
				About Omnicell
			</a>
			<a href="#">
				Careers
			</a>
			<a href="#">
				Partners
			</a>
			<a href="#">
				Leadership
			</a>
			<a href="#">
				Investor Relations
			</a>
			<a href="#">
				Contact Us
			</a>
		</div>

		<div class="offscreen-nav__menu">
			<a class="offscreen-nav__label" href="#">
				Products
			</a>
			<a href="#">
				Hospital / Health System
			</a>
			<a href="#">
				Retail / Community Pharmacy
			</a>
			<a href="#">
				Closed Door Pharmacy
			</a>
		</div>

		<div class="offscreen-nav__menu">
			<a class="offscreen-nav__label" href="#">
				Success Center
			</a>
			<a href="#">
				Testimonials
			</a>
			<a href="#">
				IV Compounding Resources
			</a>
			<a href="#">
				Medication Adherence Resources
			</a>
			<a href="#">
				Diversion Central
			</a>
			<a href="#">
				Webinars and Podcasts
			</a>
			<a href="#">
				Transform Healthcare Blog
			</a>
		</div>
		
		<div class="offscreen-nav__menu">
			<a class="offscreen-nav__label" href="#">
				News and Events
			</a>
			<a href="#">
				Press Releases
			</a>
			<a href="#">
				Events
			</a>
			<a href="#">
				In the News
			</a>
			<a href="#">
				Social Media
			</a>
		</div>
		
		<div class="offscreen-nav__menu">
			<span class="offscreen-nav__label">
				Support
			</span>
			<a href="#">
				Customer Support
			</a>
			<a href="#">
				Training Programs
			</a>
		</div>

		<div class="offscreen-nav__menu">
			<span class="offscreen-nav__label">
				Other Links
			</span>
			<a href="#">
				Privacy Policy
			</a>
			<a href="#">
				Legal Notices
			</a>
			<a href="#">
				HIPAA Statement
			</a>
			<a href="#">
				Terms
			</a>
			<a href="#">
				Sitemap
			</a>
		</div>
	</div>
</nav>