<nav class="social-nav">
	<a href="#" target="_blank">
		{{> icons/facebook}}
	</a>
	<a href="#" target="_blank">
		{{> icons/twitter}}
	</a>
	<a href="#" target="_blank">
		{{> icons/linked-in}}
	</a>
</nav>