<nav class="utility-nav">
	<button id="contactButton" class="button button--primary button--bordered button--small" role="button">
		Contact Us
	</button>
	<button id="searchButton" class="search-button" role="button">
		{{> icons/search}}
	</abutton>
	<button id="hamburger" class="hamburger hamburger--spring" type="button" role="button">
		<span class="hamburger-box">
			<span class="hamburger-inner" />
		</span>
	</button>
</nav>