.banner {
	height: 505px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&__container {
		display: flex;
		align-items: center;
		height: 100%;
	}
		&__callout {
			width: 45%;
		}
			&__heading {
				font-size: 1.875rem;
				margin-bottom: 1.875rem;
			}
			strong {
				color: $color-primary;

				// force a break after the highlighted text
				// https://css-tricks.com/injecting-line-break/
				&:after {
					content: '\A';
  					white-space: pre;
				}
			}
			&__content {
				margin-bottom: 1.875rem;
			}
	
		&__feature {
			max-width: 40%;
			margin: 0 5% 0 auto;
		}
}