.banner {
	background-color: $color-white;

	@media ($md) {
		height: 505px;
	}

	&__container {
		position: relative;
		
		@media ($md) {
			display: flex;
			align-items: center;
			height: 100%;
		}
	}
		&__callout {
			position: relative;
			z-index: 1;
			padding: 20px 0;

			@media ($md) {
				width: 45%;
			}
		}
			&__heading {
				font-size: 1.875rem;
				margin-bottom: 1.875rem;
			}
			strong {
				color: $color-primary;

				// force a break before/after the highlighted text
				// https://css-tricks.com/injecting-line-break/
				&:before {
					content: '\A';
					white-space: pre;
				}
				&:after {
					content: '\A';
					white-space: pre;
				}

				@media ($md) {
					&:before { display: none; }
				}
			}
			&__content {
				margin-bottom: 1.875rem;
			}
				.button {
					@extend .uppercase;
				}
	
		&__poster {
			&--desktop {
				display: none;

				@media ($md) {
					display: block;
					position: absolute;
					z-index: 0;
					width: 100%;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
			}
			&--mobile {
				@media ($md) {
					display: none;
				}
			}
		}
}