.main-header {
	position: relative;
	z-index: $z-header;
    background-color: $color-white;

	> .container {
		height: 50px;
		display: flex;
		align-items: center;
	}
}
	.main-logo {
		display: flex;
		align-items: center;
		height: 100%;
		
		@media ($md) {
			padding-right: 30px;
		}

		.icon {
			display: block;
			width: 126px;
			height: 20px;
			margin: auto;

			@media ($md) {
				width: 165px;
				height: 30px;
			}
		}
	}