.main-header {
	position: relative;
	z-index: $z-header;
    background-color: $color-white;
	// transformations reset zindex in safari :(
	transform: translate3d(0, 0, $z-header * 1px);

	> .imm-container {
		height: 50px;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
	}
}
	.main-logo {
		display: flex;
		align-items: center;
		height: 100%;
		margin-left: -11px;
		
		@media ($xs) { margin-left: 0; }
		@media ($md) { padding-right: 10px; }
		@media ($lg) { padding-right: 30px; }

		.icon {
			display: block;
			width: 126px;
			height: 20px;
			margin: auto;

			@media ($lg) {
				width: 165px;
				height: 30px;
			}
		}
	}