{{!-- // TODO: email sales modal --}}

<select id="hiddenProductList" name="hiddenProductList" style="display:none;">
    <option value="">Select One</option>
            <option value="AccuFlex Single Dose Automation">AccuFlex Single Dose Automation</option>
            <option value="Central Pharmacy Manager">Central Pharmacy Manager</option>
            <option value="Cerner Interoperability">Cerner Interoperability</option>
            <option value="Deblistering Machine">Deblistering Machine</option>
            <option value="Epic Interoperability">Epic Interoperability</option>
            <option value="Express II Single Dose Automation">Express II Single Dose Automation</option>
            <option value="Fulfill-Rx Medication Ordering Software">Fulfill-Rx Medication Ordering Software</option>
            <option value="Guided Packing">Guided Packing</option>
            <option value="i.v. STATION Non-hazardous Compounding Robot">i.v. STATION Non-hazardous Compounding Robot</option>
            <option value="i.v. STATION ONCO Hazardous Compounding Robot">i.v. STATION ONCO Hazardous Compounding Robot</option>
            <option value="Immunization Solutions">Immunization Solutions</option>
            <option value="IVR">IVR</option>
            <option value="IVX Workflow">IVX Workflow</option>
            <option value="Labels and Printing Supplies">Labels and Printing Supplies</option>
            <option value="M5000 Multimed Automation">M5000 Multimed Automation</option>
            <option value="Medication Packager">Medication Packager</option>
            <option value="Medication Synchronization">Medication Synchronization</option>
            <option value="MedShelf-Rx Inventory Management Software">MedShelf-Rx Inventory Management Software</option>
            <option value="MTM">MTM</option>
            <option value="MTS-350 Filler and Sealer">MTS-350 Filler and Sealer</option>
            <option value="Multimed Adherence Packaging">Multimed Adherence Packaging</option>
            <option value="Omnicell Analytics">Omnicell Analytics</option>
            <option value="Omnicell Supply Management System">Omnicell Supply Management System</option>
            <option value="Omnicell XT Automated Dispensing Cabinets">Omnicell XT Automated Dispensing Cabinets</option>
            <option value="OmniLinkRx Medication Order Management System">OmniLinkRx Medication Order Management System</option>
            <option value="OptiFlex Cath Lab Supply Chain System">OptiFlex Cath Lab Supply Chain System</option>
            <option value="OptiFlex Medical Surgical Supply Chain System">OptiFlex Medical Surgical Supply Chain System</option>
            <option value="OptiFlex Surgical Services Supply Chain System">OptiFlex Surgical Services Supply Chain System</option>
            <option value="OptiFlex Tissue Center">OptiFlex Tissue Center</option>
            <option value="Outbound Patient Communications">Outbound Patient Communications</option>
            <option value="Pandora Analytics">Pandora Analytics</option>
            <option value="Patient Engagement">Patient Engagement</option>
            <option value="Performance Center">Performance Center</option>
            <option value="Pharmacy Carousel">Pharmacy Carousel</option>
            <option value="Pre-Pack Label Applicator">Pre-Pack Label Applicator</option>
            <option value="Printers">Printers</option>
            <option value="Sealers">Sealers</option>
            <option value="Siemens Interoperability">Siemens Interoperability</option>
            <option value="Single Dose Blister Cards">Single Dose Blister Cards</option>
            <option value="Targeted Patient Interventions">Targeted Patient Interventions</option>
            <option value="Unity Enterprise Platform">Unity Enterprise Platform</option>
            <option value="VBM 200F Multimed Automation">VBM 200F Multimed Automation</option>
            <option value="XR2 Automated Central Pharmacy System">XR2 Automated Central Pharmacy System</option>
            <option value="XT Anesthesia Workstation">XT Anesthesia Workstation</option>
            <option value="XT Automated Dispensing Cabinets">XT Automated Dispensing Cabinets</option>
            <option value="XT Controlled Substance Manager">XT Controlled Substance Manager</option>

</select>
<div class="modal fade" id="emailSalesModal" tabindex="-1" role="dialog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="es-wrapper">
					{{> close}}
		<div>
			<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
	portalId: "163420",
	formId: "61c3d78c-ec5f-4d57-bd8b-aef5840fa90e",
	sfdcCampaignId: "701Z0000000nmzQIAQ",
	onFormSubmit: function($form) {
    // YOUR SCRIPT HERE
    	$('#emailSalesModal').on('hidden.bs.modal', function () {
		    // do something…
		    location.reload();
		});
    } 	
});
</script>
</div>


                </div>
            </div>
        </div>
    </div>
</div>