<div id="searchBox" class="search-slider" aria-hidden="true" tabindex="-1" role="dialog">
	<form class="container" action="https://www.omnicell.com/us/en_us/search-results" method="get">
		<button type="submit" class="search-slider__label">
			{{> icons/search}}
		</button>
		<input
			id="search-input"
			type="text"
			name="terms"
			class="search-slider__input"
			placeholder="What do you want to know?"
			required
		>
		<button role="button" type="clear" class="search-slider__clear">
			<span>
				×
			</span>
		</button>
		<input type="hidden" name="locales" value="en-us">
	</form>
</div>