.button {
	// default buttons are gray
	// to be neutral

	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 2px solid $color-cool-gray;
	padding: 9px 16px;
	overflow: hidden;
	color: $color-white;
	text-decoration: none;
	line-height: 1.5;
	font-size: calculateRem(14px);
	font-weight: $font-normal;
	background-color: $color-cool-gray;
	transition: color 250ms ease-in-out,
		background-color 250ms ease-in-out,
		border-color 250ms ease-in-out,
		box-shadow 250ms ease-in-out;
	cursor: pointer;

	// only apply a hover if not disabled
	// to keep the button looking like it 
	// interacts...this is carried through
	// the rest of the file
	&:not(:disabled):hover {
		color: $color-white;
		text-decoration: none;
		border-color: darken($color-cool-gray, 10%);
		background-color: darken($color-cool-gray, 10%);
	}

	&--primary {
		border-color: $color-primary;
		background-color: $color-primary;

		&:not(:disabled):hover {
			border-color: lighten($color-primary, 5%);
			background-color: lighten($color-primary, 5%);
		}
	}

	&--secondary {
		border-color: $color-secondary;
		background-color: $color-secondary;

		&:not(:disabled):hover {
			border-color: lighten($color-secondary, 15%);
			background-color: lighten($color-secondary, 15%);
		}
	}

	&--rounded {
		border-radius: 5px;
	}

	&--block {
		display: block;
		width: 100%;
	}

	&[disabled] {
		opacity: 0.5;
		cursor: default;
	}

	&--bordered {
		color: $color-cool-gray;
		background: transparent;
		
		&:not(:disabled):hover {
			color: darken($color-cool-gray, 15%);
			border-color: darken($color-cool-gray, 15%);
			background-color: transparent;
		}

		&.button {
			&--primary {
				color: $color-primary;
				
				&:not(:disabled):hover {
					color: darken($color-primary, 5%);
					border-color: lighten($color-primary, 5%);
				}
			}
			&--secondary {
				color: $color-secondary;
				
				&:not(:disabled):hover {
					color: darken($color-secondary, 5%);
					border-color: lighten($color-secondary, 5%);
				}
			}
		}
	}

	&--small {
		padding: 4px 15px;
		border-width: 1px;
		font-size: calculateRem(13px);
	}

	// potential large variant
	// &--large {}

	&--icon {
		span {
			display: flex;
			align-items: center;
		}
			.icon {
				display: inline-block;
				width: 24px;
				height: 24px;

				&__fill { fill: $color-white; }
			}
	}
}