.card {
	@extend .depth-0;

	display: block;
    position: relative;
    margin: 1rem 0 3rem;
    background-color: $color-white;
    transition: 
		box-shadow 400ms ease,
		color 300ms ease;

	@media ($sm) {
		margin: 1rem 0 2rem;
	}

	@media ($md) {
		height: 325px;
	}

	// rule
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 4px;
		background-color: $color-warm-off-white;
		transform: scaleY(0);
		transform-origin: bottom;
		transition: 
			background-color 300ms ease,
			transform 250ms ease;
	}

	&__image {
		display: block;
		position: relative;
		width: 100%;
		filter: grayscale(100%);
		transition: filter 500ms linear;
	}

	&__content {
		display: block;
		padding: 15px 15px 30px 15px;

		@media ($md) {
			padding: 15px;
		}
	}
		&__category {
			display: block;
			margin-bottom: 10px;
			color: $color-subdued-gray;
			text-transform: uppercase;
			font-size: calculateRem(12px);
		}
		&__link {
			max-height: 70px;
			overflow: hidden;
			margin: 0;
			transform: translateY(0);
			transition: transform 400ms ease;

			// mask the card with the link
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			@media ($lg) {
				font-size: calculateRem(18px);
			}
		}

	&:hover {
		@extend .depth-5;
		text-decoration: none;

		&:after {
			transform: scaleY(1);
			background-color: $color-primary;
		}

		.card {
			&__image {
				filter: grayscale(0);
			}

			&__link {
				text-decoration: none;
				transform: translateY(-2px);
			}
		}
	}

	&--ruled {
		&:after { transform: scaleY(0.5); }
	}

	&--small {
		@media ($md) {
			height: 250px;
		}
		.card__link {
			@media ($lg) {
				font-size: 1rem;
			}
		}
	}

	&--large {
		@media ($md) {
			height: 425px;
		}
	}

	// lazy images
	[data-lazy-load] { min-height: 190px; }
	[data-lazy-load="done"] { min-height: auto; }
}