// NOTE: previous code used .close
.imm-close {
	position: absolute;
	top: 0;
	right: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 10px;
    outline: 0;
	color: $color-slate;
	line-height: 0;
	font-size: calculateRem(25px);
	// NOTE: this was the only place where the 
	// light variant was being used and because
	// it's a close button, arial/helvetic are
	// going to be "close enough"
	font-family: sans-serif;
	font-weight: 300;
	transition: color 250ms ease;

	&:hover {
		color: $color-danger;
	}
}