// TODO: rename to not conflict
.modal {
	visibility: hidden;
	position: fixed;
	z-index: $z-modal;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition:
		visibility 350ms ease,
		opacity 350ms ease;
	background-color: rgba(0, 0, 0, 0.2);
	// transformations reset zindex in safari :(
	transform: translate3d(0, 0, $z-modal * 1px);

	&[aria-hidden="false"] {
		visibility: visible;
		opacity: 1;
	}
}

// for the body
.modal-open { overflow: hidden; }