// https://codepen.io/Mattykins/pen/wfJqk

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spinner {
	$color: lighten($color-secondary, 20%);

	box-sizing: content-box;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	width: 100px;
	height: 102px;
	border-radius: 50%;

	.circle {
		position: absolute;
		width: 100%;
		height: 100%;

		.inner {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 5px solid transparentize($color, 0.7);
			border-right: none;
			border-top: none;
  			box-shadow: inset 0 0 10px transparentize($color, 0.15);
			animation: spin 2s infinite linear;
		}
		
		&:nth-of-type(0) { transform: rotate(0deg); }
		&:nth-of-type(1) { transform: rotate(70deg); }
		&:nth-of-type(2) { transform: rotate(140deg); }
		&:nth-of-type(3) { transform: rotate(210deg); }
	}

	animation: spin 5s infinite linear;
}