.country-nav {
	position: relative;
	width: 100%;
	margin-left: auto;
	padding: 20px 30px;
	border-radius: 5px;
	@extend .depth-4;
	background-color: $color-white;

	@media ($sm) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media ($md) { max-width: 85%; }
	@media ($lg) { max-width: 65%; }

	&__label {
		@extend .uppercase;
		margin-bottom: calculateRem(10px);
		color: $color-dove;
		font-size: calculateRem(12px);
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 0 0 calculateRem(20px) 0;
		font-size: calculateRem(14px);
    	color: $color-slate;
		transition: color 250ms ease;
		cursor: pointer;

		&:hover {
			color: $color-primary;
			text-decoration: none;
		}

		// visually center the span because
		// the flags aren't quite right :S 
		span {
			transform: translateY(-3px);
		}
	}
		.flag {
			width: 25px;
			height: 19px;
			margin-right: 10px;
		}
}