.footer-nav {
	// when small, default to a grid
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 15px;

	a {
		color: $color-white;
		font-size: $font-size * 0.875;

		&:hover {
			color: $color-primary-light;
			text-decoration: none;
		}

		// line up items in the grid
		&:nth-child(1) { grid-column-start: 1; grid-row-start: 1; }
		&:nth-child(2) { grid-column-start: 1; grid-row-start: 2; }
		&:nth-child(3) { grid-column-start: 1; grid-row-start: 3; }
		&:nth-child(4) { grid-column-start: 1; grid-row-start: 4; }
		
		&:nth-child(5) { grid-column-start: 2; grid-row-start: 1; }
		&:nth-child(6) { grid-column-start: 2; grid-row-start: 2; }
		&:nth-child(7) { grid-column-start: 2; grid-row-start: 3; }
		&:nth-child(8) { grid-column-start: 2; grid-row-start: 4; }
	}

	@media ($md) {
		// discard the grid
		display: block;

		a {
			// align items horizontally
			margin: 0 5px;
			&:first-of-type { margin-left: 0; }
		}
	}

	@media ($lg) { 
		a {
			// space links out further
			margin: 0 7.5px;
		}
	}
}