.mega-nav {
	display: flex;
	height: $main-header-height;

	display: none;

	&__section {
		&:hover {
			.mega-nav {
				&__sub-menu {
					visibility: visible;
					opacity: 1;
					transition: 
						visibility 300ms ease,
						opacity 300ms ease;
				}
			}
		}
	}
		&__link {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 7px;
			color: #333;
			font-size: 14px;
			transition: color 250ms ease;

			&:hover {
				text-decoration: none;
			}
		}

	&__sub-menu {
		visibility: hidden;
		position: absolute;
		top: ($main-header-height + $top-bar-height);
		left: -100vw;
		width: 100vw;
		min-height: 245px;
		opacity: 0;
		border-top: 2px solid $color-primary;;
		transform: translateX(100%);
		background: linear-gradient(to right, $color-off-white 25%, $color-white 25%);
		transition: 
			visibility 150ms ease,
			opacity 150ms ease;
	}
		&__container {
			@extend .container;
			
			display: flex;
		}
			&__list {
				width: 25%;
				padding: 30px 0;
				background-color: $color-off-white;

				a {
					display: block;
					padding: 7.5px 0;
					font-size: 1rem;
					line-height: 1.2;
				}
			}
				// TODO: 
				&__label {
					display: block;
					margin-bottom: 1rem;
					font-size: 14px;
					font-weight: $font-bold;
				}

			&__features {
				padding: 30px 50px;
				background-color: $color-white;
			}
				&__feature {
					visibility: hidden;
					
					&[data-id="default"], &.active {
						visibility: visible;
					}
				}
}