.utility-nav {
	justify-self: flex-end;
	margin-left: auto;
}
	.search-button {
		padding: 12px;
		// visually center
		transform: translateY(2px);
		cursor: pointer;

		.icon {
			width: 17px;
			height: 17px;

			&__fill {
				fill: $color-dark-gray;
				transition: fill 250ms ease;
			}
		}

		&:hover {
			// mimic the hamburger
			.icon__fill { fill: #87877f; }
		}

		&--active {
			&, &:hover {
				.icon__fill {
					fill: $color-primary;
				}
			}
		}
	}
	.hamburger {
		// visually center
		transform: translateY(1px);
	}