.utility-nav {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-self: flex-end;
	margin-left: auto;

	@media ($xs) { padding-left: 10px; }
}
	.search-button {
		padding: 12px;
		cursor: pointer;

		.icon {
			width: 17px;
			height: 17px;

			&__fill {
				fill: $color-dark-gray;
				transition: fill 250ms ease;
			}
		}

		&:hover {
			// mimic the hamburger
			.icon__fill { fill: #87877f; }
		}

		&--active {
			&, &:hover {
				.icon__fill {
					fill: $color-primary;
				}
			}
		}
	}
	.hamburger {
		// visually center
		transform: translateY(1px);
	}