html, body {   
	// overscrolling in ios and safari
	// will show the background color..
	// we're capped using the top-bar and
	// footer with cool gray :) 
	background-color: $color-cool-gray;
}

body {
    margin: 0;
    min-width: 320px;
    overflow-x: hidden;
}
	.wrapper {
		// wrapper color for the main page background color
		background-color: $color-white;
	}