html, body, button {
	color: $color-text;	
	font-family: $font-primary;

	// using web fonts can leave some browsers pixelated
	// if we don't set these:

	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
	text-rendering: optimizelegibility;
    
	font-feature-settings: "liga" 1;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 1rem 0;
	font-family: inherit;
	font-weight: $font-normal;
	color: inherit;
}

h1, .h1 { 
	line-height: ($font-size * 2.25) * 1.3;
	font-size: $font-size * 2.25;
}
h2, .h2 { 
	line-height: ($font-size * 1.875) * 1.3;
	font-size: $font-size * 1.875;
}
h3, .h3 { 
	line-height: ($font-size * 1.5) * 1.3;
	font-size: $font-size * 1.5;
}
h4, .h4 { 
	line-height: ($font-size * 1.25) * 1.3;
	font-size: $font-size * 1.25;
}
h5, .h5 { 
	font-size: $font-size * 1.15;
	line-height: ($font-size * 1.15) * 1.3;
}
h6, .h6 { 
	line-height: ($font-size * 1) * 1.3;
	font-size: $font-size * 1;
}

small, .small {
	font-size: 70%;
}

p, .p {
	margin: 0 0 ($font-size * 0.625) 0;
	line-height: $font-size * 1.25;
	font-size: $font-size * 0.875;
}

a, .a {
	color: $color-secondary;
	outline: 0;
	text-decoration: none;
	transition: color 300ms ease;

	&:hover {
		color: $color-primary;
		text-decoration: underline;
	}
}