// https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  width: 1px; 
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; 
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}