// colors

$color-primary: #78be20;
$color-primary-light: #5ec200;
$color-secondary: #1359a0;
$color-cool-gray: #5e6a71;
$color-warm-gray: #645f5c;
$color-white: #fff;
$color-off-white: #f4f4f4;
$color-text: #4a4a4a;

// font

$font-primary: 'Open Sans', sans-serif;
$font-normal: 400;
$font-bold: 700;
$font-size: 1rem;

// responsive

$sm: 'min-width: 576px';
$md: 'min-width: 768px';
$lg: 'min-width: 992px';
$xl: 'min-width: 1200px';